.pai {
    width: 500px; height: 500px; background-color: rgb(255, 149, 0);
}

.filha{
    width: 50%; height: 50%; background-color: lightgreen;

}

.filho-b{

    color:antiquewhite; background-color:red; font-size: 25px; font-family: monospace; font-weight:bol


}

.b{
    width: 50% ; height: 50%; background-color: rgb(173, 229, 230);



} 

.a{

    width: 75vw; height: 50%


}

